.container{
    width: 50%;
    height: 75%;
    margin-top: 20px;
    float: left;
    overflow: hidden;
    text-align: center;
}

:host ::ng-deep .p-card-body{
    height: 75%;
}

.btn-timer-func > button{
    margin-left: 10px;
}