.header {
  display: grid;
  grid-template-columns: 27.4% 72.6%;
  grid-auto-flow: column;
  margin-bottom: 1rem;
  margin-left: -10px;
}

.header .chamber-logo {
  display: flex;
  background-color: var(--vp-header-chamber-bg);
  justify-content: center;
  align-items: center;
  border-radius: 1rem 0rem 0rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.header .chamber-logo img {
  width: 150px;
  max-width: 150px;
}

.header .session-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  margin-left: 1.5rem;

  font-family: Roboto;
  font-size: 5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 4.375rem;
  letter-spacing: .15rem;
  color: var(--vp-header-session-name);

  background-color: var(--vp-header-chamber-bg);
  border-radius: 0rem 1rem 0rem 0rem;

}
