<div class="box-header">
  <div class='box-header-legislature-photo'>
    <img
      src="https://uploaddeimagens.com.br/images/004/285/223/full/municipio-beberibe-brasao-simb-brnece0201502206-removebg-preview.png?1672893176"
      alt="municipio-beberibe-brasao-simb-brnece0201502206-removebg-preview">
  </div>
  <div class="box-panel-title">
    Painel Eletrônico
  </div>
  <div class="box-header-info">
    <div class="box-header-info-title">
      Câmara Municipal de Aquiraz
    </div>
    <div class="box-header-info-subtitle">
      19ª Legislatura (2021 - 2024)
    </div>
  </div>
</div>
