/* FACELIFT */
.box-header {
  display: flex;
  width: 100%;
  height: 170px;
  justify-content: flex-start;
  align-items: center;

  flex-direction: row;

  background-color: var(--app-primary-color);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.box-header .box-header-legislature-photo {
  margin-left: 40px;
}
.box-header .box-header-legislature-photo img {
  max-width: 120px;
}

.box-header .box-header-info .box-header-info-sub {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: auto;
  margin-right: 4rem;
}

.box-header .box-header-info {
  display: flex;
  justify-content: space-between;

  flex-direction: row;
  width: 100%;
  gap: 2rem;
}

.box-header .box-header-info .box-panel-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  color: var(--app-header-text-color);
  font-size: 32px;
  display: flex;
  align-self: flex-start;
  vertical-align: middle;
  height: 100%;
  margin-left: 8rem;
}

.box-header .box-header-info .box-header-info-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  color: var(--app-header-text-color);
  font-size: 32px;
  display: flex;
  letter-spacing: 0.03em;
}

.box-header .box-header-info .box-header-info-subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  color: var(--app-header-text-color);
  font-size: 22px;
  display: flex;
  letter-spacing: 0.03em;
}

// Quando tiver no maximo
@media screen and (max-width: 960px) {
  .box-header-info {
    flex-direction: row;
  }
  .box-header .box-header-info {
    flex-direction: column;
  }
  .box-header .box-header-info .box-header-info-sub {
    text-align: end;
  }
  .box-header .box-header-info .box-header-info-title {
    display: flex;
    justify-content: flex-end;
  }

  .box-header .box-header-info .box-panel-title {
    text-align: end;
    align-self: center;
  }
}
