/* FACELIFT */
.box-header {
  display: flex;
  width: 100%;
  height: 73px;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;

  background-color: #FFFFFF;
}

button {
  padding: 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.box-header .box-header-legislature-photo {
  background-image: url('/assets/images/logo_rsv.png');
  margin-left: 68px;
  width: 89px;
  height: 89px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.box-header .box-header-info .box-header-info-sub {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: auto;
  margin-right: 4rem;
}

.box-header .box-header-info {
  display: flex;
  justify-content: space-between;

  flex-direction: row;
  width: 100%;
  gap: 2rem;
}

.box-header .box-header-info .box-panel-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  color: var(--app-header-text-color);
  font-size: 3rem;
  display: flex;
  align-self: flex-start;
  vertical-align: middle;
  height: 100%;
  margin-left: 3rem;
  align-self: center;
}

.box-header .box-header-info .box-header-info-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  color: var(--app-header-text-color);
  font-size: 3.5rem;
  display: flex;
  letter-spacing: 0.03em;
}

.box-header .box-header-info .box-header-info-subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  color: var(--app-header-text-color);
  font-size: 2.38rem;
  display: flex;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1024px) {
  .box-header-info {
    flex-direction: row;
  }
  .box-header .box-header-info {
    flex-direction: row;
  }
  .box-header .box-header-info .box-header-info-sub {
    text-align: end;
  }
  .box-header .box-header-info .box-header-info-title {
    display: flex;
    justify-content: flex-end;
  }
  .box-header .box-header-info .box-panel-title {
    text-align: start;
  }
}

:host ::ng-deep {
  .p-button {
    &:hover {
      background: transparent !important;
      border-color: transparent !important;
      color: inherit !important;
    }

    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }

    &:active {
      background: transparent !important;
      border-color: transparent !important;
    }
  }
}

:host ::ng-deep {
  .p-button.p-button-icon-only {
    padding: 0 !important;
    width: unset !important;
  }
}

.box-header-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-right: 64px;
}