input{
    width: 100%;
}

.closer{
    margin-bottom: -10px;
}

:host ::ng-deep .p-dropdown {
    width: 100%;
}

:host ::ng-deep .p-badge {
    margin-left: 0px;
}

.custom-rb{
    float: left;
}

th{
    font-size: 17px;
}
  
tr{
    font-size: 15px;
}