// card-menu.scss
.card-menu {
    width: 186px;
    height: 198px;
    border-radius: 24px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.icon-container {
    width: 93px;
    height: 93px;
    background-color: rgba(0, 95, 132, 0.6);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    position: absolute;

    svg {
      width: 57px;
      height: 56px;
    }
}

.title {
    font-family: Poppins;
    font-size: 21px;
    color: #384C6C;
    font-weight: 600;
    max-width: 130px;
    text-align: center;
    line-height: 23px;
    margin-top: 134px;
}