<p-toast></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<div class="box-main">
  <app-header
    class="app-header"
    townHallName="{{ townHallCityName }}"
    townHallUrlImage="{{ townHallUrlImage }}"
  ></app-header>
  <div class="page-voting">
    <app-card-parlamentar
      class="box-left"
      photo="{{ parlamentar.urlImage }}"
      name="{{ parlamentar.name }}"
      politicalParty="{{ parlamentar.politicalParty }}"
    ></app-card-parlamentar>

    <div
      class="div box-right"
      *ngIf="!votingTitle && existsOpenVoting"
      style="display: flex; justify-content: center; align-items: center"
    >
      <p-progressSpinner
        styleClass="w-4rem h-4rem"
        strokeWidth="4"
        fill="#323232"
        animationDuration=".5s"
      ></p-progressSpinner>
    </div>

    <!-- *ngIf="(existsOpenVoting && votingTitle) || !existsOpenVoting" -->
    <div
      class="box-right"
    >
      <h2>
        {{ getGreeting() }}, {{ parlamentar.name }}
      </h2>
      <h4>
        {{townHallCityName}}
      </h4>
      <span>
        10ª (2025 - 2028) (Atual)
      </span>
      
      <div *ngIf="!existsOpenVoting" class="cards-grid">
        <app-card-menu
          title="Inscrição"
          iconType="inscricao"
          (click)="openExpedienteDialog(true)"
        ></app-card-menu>

        <app-card-menu
          title="Cancelar Inscrição"
          iconType="desinscricao"
          (click)="openUnsubscribeDialog(true)"
        ></app-card-menu>

        <app-card-menu
          title="Lista de oradores"
          iconType="lista"
          (click)="showDialog()"
        ></app-card-menu>

        <app-card-menu
          *ngIf="this.linkSessao"
          title="Pauta do dia"
          iconType="pauta"
          (click)="goToSaplSession()"
        ></app-card-menu>

        <app-card-menu
          *ngIf="parlamentar.role.name === 'ROLE_MODERATOR_VIEW'"
          title="Tempo"
          iconType="tempo"
          (click)="showTimeControlDialog = true"
        ></app-card-menu>

        <app-card-menu
          title="Sair"
          iconType="sair"
          (click)="logOut()"
        ></app-card-menu>

      </div>






      <!-- <div class="header">
        <div class="title">Painel de Votação</div>
        <div *ngIf="this.linkSessao" class="pauta-sessao">
          <button
            pButton
            type="button"
            label="Pauta da Sessão"
            (click)="goToSaplSession()"
            class="p-button-outlined"
          ></button>
        </div>
      </div>
      <div class="ementa" *ngIf="votingTitle">
        <div class="title">
          {{ votingTitle }}
        </div>
      </div> -->
      <div *ngIf="existsOpenVoting" class="box-votacao">
        <h1>Painel de votação:</h1>
        <div class="voting-options">

          <app-card-voting
            title="Sim"
            iconType="yes"
            [isSelected]="isVoteSelected('YES')"
            (click)="sendVote('YES')"
          ></app-card-voting>

          <app-card-voting
            title="Não"
            iconType="no"
            [isSelected]="isVoteSelected('NO')"
            (click)="sendVote('NO')"
          ></app-card-voting>

          <app-card-voting
            title="Abs"
            iconType="abs"
            [isSelected]="isVoteSelected('ABSTENTION')"
            (click)="sendVote('ABSTENTION')"
          ></app-card-voting>
        </div>

        <div class="row-separator"></div>

        <div *ngIf="parlamentar.role.name == 'ROLE_MODERATOR_VIEW'" (click)="closeVoting()" class="end-voting">
          <div class="end-voting-container">
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M26.8125 11.3438H6.1875C5.61796 11.3438 5.15625 11.8055 5.15625 12.375V26.8125C5.15625 27.382 5.61796 27.8438 6.1875 27.8438H26.8125C27.382 27.8438 27.8438 27.382 27.8438 26.8125V12.375C27.8438 11.8055 27.382 11.3438 26.8125 11.3438Z" stroke="#ffffff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M11.8594 11.3438V6.70312C11.8594 5.47235 12.3483 4.29199 13.2186 3.42171C14.0889 2.55142 15.2692 2.0625 16.5 2.0625C17.7308 2.0625 18.9111 2.55142 19.7814 3.42171C20.6517 4.29199 21.1406 5.47235 21.1406 6.70312V11.3438" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <ellipse cx="16.7949" cy="19.1518" rx="2.65179" ry="2.65179" fill="#FFFFFF"/>
            </svg>
            <h2>Encerrar votação</h2>
          </div>
        </div>

        <div *ngIf="parlamentar.role.name != 'ROLE_MODERATOR_VIEW'" (click)="logOut()" class="logout-voting">
          <div class="logout-voting-container">
            <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.7617 13.5643L34.1602 20.1268L27.7617 26.6893" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M17.0977 20.1268H34.1602" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M17.0977 33.8768H8.56641C8.24317 33.8768 7.93318 33.7451 7.70462 33.5107C7.47606 33.2763 7.34766 32.9584 7.34766 32.6268V7.62683C7.34766 7.29531 7.47606 6.97737 7.70462 6.74295C7.93318 6.50853 8.24317 6.37683 8.56641 6.37683H17.0977" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h2>Sair</h2> 
          </div>
        </div>

      </div>
      








    </div>

    <!-- <div class='logo-rsv'></div> -->

  </div>
</div>

<p-dialog
  header="Tipo de Expediente"
  [(visible)]="showExpedienteDialog"
  styleClass="expediente-dialog-inscription"
  [modal]="true"
>
  <div class="expediente-options">
    <div class="expediente-button" (click)="subscriptionInSpeakerList('GRANDE_EXPEDIENTE')">
      <h3>Grande Expediente</h3>
      <p>Inscrição para o Grande Expediente</p>
    </div>
    
    <div class="expediente-button" (click)="subscriptionInSpeakerList('PEQUENO_EXPEDIENTE')">
      <h3>Pequeno Expediente</h3>
      <p>Inscrição para o Pequeno Expediente</p>
    </div>

    <div class="expediente-button" (click)="subscriptionInSpeakerList('OUTRO')">
      <h3>Explicações Pessoais</h3>
      <p>Inscrição para Explicações Pessoais</p>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Tipo de Expediente para Desinscrição"
  [(visible)]="showUnsubscribeDialog"
  [style]="{ width: '400px' }"
  [modal]="true"
>
  <div class="expediente-options">
    <div class="expediente-button" (click)="unSubscribeSpeaker('GRANDE_EXPEDIENTE')">
      <h3>Grande Expediente</h3>
      <p>Desinscrição do Grande Expediente</p>
    </div>
    
    <div class="expediente-button" (click)="unSubscribeSpeaker('PEQUENO_EXPEDIENTE')">
      <h3>Pequeno Expediente</h3>
      <p>Desinscrição do Pequeno Expediente</p>
    </div>

    <div class="expediente-button" (click)="unSubscribeSpeaker('OUTRO')">
      <h3>Explicações Pessoais</h3>
      <p>Inscrição para Explicações Pessoais</p>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Lista de Oradores"
  [(visible)]="showInscriptionListDialog"
  (onHide)="clearInscriptionListDialog()"
  [style]="{ width: '429px', height: '561px' }"
  [modal]="true"
>
  <div class="speaker-type-selector">
    <div class="speaker-type-buttons">
      <p-selectButton [options]="[
          {label: 'Grande Expediente', value: 'GRANDE_EXPEDIENTE'},
          {label: 'Pequeno Expediente', value: 'PEQUENO_EXPEDIENTE'},
          {label: 'Explicações Pessoais', value: 'OUTRO'}
      ]" [(ngModel)]="selectedSpeakerType" optionLabel="label" optionValue="value">
      </p-selectButton>
    </div>
  </div>

  <div *ngIf="getFilteredSpeakerList().length > 0" style="margin-top: 20px;">
    <p-table [value]="getFilteredSpeakerList()"  
        styleClass="p-datatable-striped p-datatable-gridlines" 
        responsiveLayout="scroll" 
        [rowHover]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Ordem</th>
                <th>Nome</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-speaker>
            <tr>
                <td>{{speaker.speakerOrder}}</td>
                <td>{{speaker.parlamentarName}}</td>
            </tr>
        </ng-template>
    </p-table>
  </div>
  <div *ngIf="getFilteredSpeakerList().length == 0" style="margin-top: 20px;">
    <p>Não existem vereadores inscritos para {{selectedSpeakerType === 'GRANDE_EXPEDIENTE' ? 'o Grande Expediente' : 
        selectedSpeakerType === 'PEQUENO_EXPEDIENTE' ? 'o Pequeno Expediente' : 'as Explicações Pessoais'}}.</p>
  </div>
</p-dialog>

<p-dialog
  header="Opções"
  [maximizable]="true"
  transitionOptions="string 150ms cubic-bezier(0, 0, 0.2, 1)"
  [style]="{ width: '75vw', height: '35vw' }"
  [(visible)]="showOptionsDialog"
  (onHide)="clearOptionsDialog()"
  [modal]="true"
>
  <div class="options-in">
    <div class="add-time">
      <app-button
        [style]="{ width: '100%', height: '100%' }"
        label="1m"
        icon="pi pi-minus"
        iconSize="3.5rem"
        [horizontal]="true"
        (click)="handlerRemoveTimeDialog()"
      ></app-button>

      <app-button
        [style]="{ width: '100%', height: '100%' }"
        label="1m"
        icon="pi pi-plus"
        iconSize="3.5rem"
        [horizontal]="true"
        (click)="handleAddTimeDialog()"
      ></app-button>
    </div>
    <div class="finish-voting">
      <app-button
        [style]="{ width: '100%', height: '100%' }"
        label="Encerrar Votação"
        icon="pi pi-times"
        iconSize="3.5rem"
        [horizontal]="true"
        [disabled]="!existsOpenVoting"
        (click)="closeVoting()"
      ></app-button>
    </div>
    <div class="susbcription-list">
      <app-button
        [style]="{ width: '100%', height: '100%' }"
        label="Lista de Inscritos"
        icon="pi pi-align-justify"
        iconSize="3.5rem"
        [horizontal]="true"
        (click)="showDialog()"
      ></app-button>
    </div>
    <div class="exit">
      <app-button
        [style]="{ width: '100%', height: '100%' }"
        label="Sair"
        icon="pi pi-sign-out"
        iconSize="3.5rem"
        [horizontal]="true"
        (click)="hideOptionsDialog()"
      ></app-button>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Controle de Tempo"
  [(visible)]="showTimeControlDialog"
  [style]="{ width: '450px' }"
  [modal]="true"
>
  <div class="time-control-options">
    <div class="time-control-button" (click)="handleAddTimeDialog()">
      <h3>Adicionar Tempo</h3>
      <p>Adiciona 1 minuto ao tempo de fala atual</p>
    </div>
    
    <div class="time-control-button" (click)="handlerRemoveTimeDialog()">
      <h3>Remover Tempo</h3>
      <p>Remove 1 minuto do tempo de fala atual</p>
    </div>
  </div>
</p-dialog>
