<p-toast></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<div class="box-main">
  <app-header
    class="app-header"
    townHallName="{{ townHallCityName }}"
    townHallUrlImage="{{ townHallUrlImage }}"
  ></app-header>
  <div class="page-voting">
    <app-card-parlamentar
      class="box-left"
      photo="{{ parlamentar.urlImage }}"
      name="{{ parlamentar.name }}"
      politicalParty="{{ parlamentar.politicalParty }}"
    ></app-card-parlamentar>

    <div
      class="div box-right"
      *ngIf="!votingTitle && existsOpenVoting"
      style="display: flex; justify-content: center; align-items: center"
    >
      <p-progressSpinner
        styleClass="w-4rem h-4rem"
        strokeWidth="4"
        fill="#323232"
        animationDuration=".5s"
      ></p-progressSpinner>
    </div>

    <div
      class="box-right"
      *ngIf="(existsOpenVoting && votingTitle) || !existsOpenVoting"
    >
      <div class="header">
        <div class="title">Painel de Votação</div>
        <div *ngIf="this.linkSessao" class="pauta-sessao">
          <button
            pButton
            type="button"
            label="Pauta da Sessão"
            (click)="goToSaplSession()"
            class="p-button-outlined"
          ></button>
        </div>
      </div>
      <div class="ementa" *ngIf="votingTitle">
        <div class="title">
          {{ votingTitle }}
        </div>
      </div>
      <div class="voting-options">
        <app-voting-button
          [rounded]="true"
          [state]="existsOpenVoting ? 'button-yes' : 'button-disabled'"
          [disabled]="!existsOpenVoting || disableYesButton"
          label="Sim"
          icon="pi pi-thumbs-up-fill"
          size="4rem"
          (click)="sendVote('YES')"
        >
          <div class="label">Sim</div>
        </app-voting-button>

        <app-voting-button
          [state]="existsOpenVoting ? 'button-no' : 'button-disabled'"
          [rounded]="true"
          [disabled]="!existsOpenVoting || disableNoButton"
          icon="pi pi-thumbs-down-fill"
          size="4rem"
          (click)="sendVote('NO')"
        >
          <div class="label">Não</div>
        </app-voting-button>

        <app-voting-button
          [state]="existsOpenVoting ? 'button-abs' : 'button-disabled'"
          [rounded]="true"
          [disabled]="!existsOpenVoting || disableAbstentionButton"
          icon="pi pi-minus"
          size="4rem"
          (click)="sendVote('ABSTENTION')"
        >
          <div class="label">Abs</div>
        </app-voting-button>
      </div>
      <div class="footer">
        <app-button
          *ngIf="parlamentar.role.name != 'ROLE_MODERATOR_VIEW'"
          [disabled]="!existsOpenVoting || disableAbstentionButton"
          icon="pi pi-verified"
          iconSize="3.5rem"
          [horizontal]="true"
          label="Inscrição"
          (click)="subscriptionInSpeakerList()"
        ></app-button>

        <app-button
          *ngIf="parlamentar.role.name == 'ROLE_MODERATOR_VIEW'"
          [style]="{ width: '100%', height: '100%', margin: '10px' }"
          label="Opções"
          icon="pi pi-sliders-v"
          iconSize="3.5rem"
          [horizontal]="true"
          (click)="handleShowOptionDialog()"
        ></app-button>

        <app-button
          *ngIf="parlamentar.role.name != 'ROLE_MODERATOR_VIEW'"
          [disabled]="!existsOpenVoting || disableAbstentionButton"
          label="Sair"
          icon="pi pi-sign-out"
          iconSize="3.5rem"
          [horizontal]="true"
          (click)="logOut()"
        ></app-button>
      </div>
    </div>
  </div>
  <button
    (click)="fullScreen()"
    pButton
    icon="pi pi-arrows-alt"
    class="p-button-raised p-button-rounded"
  ></button>
</div>

<p-dialog
  header="Lista de Oradores"
  [(visible)]="showInscriptionListDialog"
  (onHide)="clearInscriptionListDialog()"
  [style]="{ width: '75vw', height: '35vw' }"
  [modal]="true"
>
  <div class="row" *ngIf="session.speakerSessionList.length != 0">
    <p-table
      [value]="session.speakerSessionList"
      styleClass="p-datatable-striped p-datatable-gridlines"
      responsiveLayout="scroll"
      [rowHover]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Ordem</th>
          <th>Nome</th>
          <th>Partido Politico</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-speaker>
        <tr>
          <td>{{ speaker.speakerOrder }}</td>
          <td>{{ speaker.parlamentarName }}</td>
          <td>{{ speaker.parlamentarPoliticalParty }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="row" *ngIf="session.speakerSessionList.length == 0">
    <p>Ainda não existem oradores inscritos</p>
  </div>
</p-dialog>

<p-dialog
  header="Opções"
  [maximizable]="true"
  transitionOptions="string 150ms cubic-bezier(0, 0, 0.2, 1)"
  [style]="{ width: '75vw', height: '35vw' }"
  [(visible)]="showOptionsDialog"
  (onHide)="clearOptionsDialog()"
  [modal]="true"
>
  <div class="options-in">
    <div class="add-time">
      <app-button
        [style]="{ width: '100%', height: '100%' }"
        label="1m"
        icon="pi pi-minus"
        iconSize="3.5rem"
        [horizontal]="true"
        (click)="handlerRemoveTimeDialog()"
      ></app-button>

      <app-button
        [style]="{ width: '100%', height: '100%' }"
        label="1m"
        icon="pi pi-plus"
        iconSize="3.5rem"
        [horizontal]="true"
        (click)="handleAddTimeDialog()"
      ></app-button>
    </div>
    <div class="finish-voting">
      <app-button
        [style]="{ width: '100%', height: '100%' }"
        label="Encerrar Votação"
        icon="pi pi-times"
        iconSize="3.5rem"
        [horizontal]="true"
        [disabled]="!existsOpenVoting"
        (click)="closeVoting()"
      ></app-button>
    </div>
    <div class="susbcription-list">
      <app-button
        [style]="{ width: '100%', height: '100%' }"
        label="Lista de Inscritos"
        icon="pi pi-align-justify"
        iconSize="3.5rem"
        [horizontal]="true"
        [disabled]="!existsOpenVoting"
        (click)="showDialog()"
      ></app-button>
    </div>
    <div class="exit">
      <app-button
        [style]="{ width: '100%', height: '100%' }"
        label="Sair"
        icon="pi pi-sign-out"
        iconSize="3.5rem"
        [horizontal]="true"
        (click)="hideOptionsDialog()"
      ></app-button>
    </div>
  </div>
</p-dialog>
