.clock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.clock .txt-time {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 3rem;
  color: var(--app-clock-color);

  margin: 0 auto;

}

@media screen and (max-width: 1024px){
  .clock .txt-time {
    font-size: 2rem;
  }
}
