:host {
  display: flex;
  align-items: flex-end;
  padding: 2rem;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

img {
  width: 12rem;
  margin-left: auto;
  height: 5rem;
}
