.page-panel-voting {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;
  background-color: #000b0ffa;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.bandeira-brasil {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vw;
  width: 100vw;
  z-index: 1;
}

.status-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.status-neutral {
  background-color: transparent  !important;
}

.status-yes .name{
  color: #5DF06E !important;
}

.status-no .name{
  color: #F11B1B !important;
}

.status-abs .name{
  color: #FFCD27 !important;
}

.status-total {
  background-color: var(--app-status-total);
}

.status-no-presence {
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
  filter: opacity(0.5);
}

.status-abscense {
  background-color: gray;
}

.status-abscense2 {
  background-color: gray;
}

.page-panel-voting .box-bodyy {
  display: grid;
  grid-template-columns: 56% 43.7%;
  grid-template-rows: 100%;
  height: 100%;
  margin-bottom: 50px;
  padding-right: 0.5rem;
  width: 100vw;
}

/* BOX LEFT */
.page-panel-voting .box-bodyy .box-left {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-auto-rows: min-content;
  margin-right: 12.5px;
}

.box-left-big {
  grid-auto-rows: min-content !important;
}

.page-panel-voting .box-bodyy .box-left .item {
  height: 8rem;
  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-auto-flow: column;
  grid-template-columns: auto 85%;
  gap: 10px;
}

.item-maior-8 {
  height: 13.5rem !important;
}

.item-maior-11 {
  height: 11rem !important;
}

.item-maior-13 {
  height: 9.5rem !important;
}

.item-big {
  grid-template-columns: 26% 74% !important;
  height: 15.5rem !important;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}


.border-raius {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.page-panel-voting .box-bodyy .box-left .item .picture {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
  background-image: var(--bg-image);
  background-size: cover;
  filter: none;
  margin-left: 1.5rem;
}

.picture-big {
  width: 10rem !important;
  height: 10rem !important;
}

.page-panel-voting .box-bodyy .box-left .item .parlamentarian-info {
  flex-grow: 1;
}

.status-yes {
  color: #5DF06E !important;
}

.status-no {
  color: #F11B1B !important;
}

.status-abs {
  color: #FFCD27 !important;
}

.status-yes .name {
  color: #5DF06E !important;
}

.status-no .name {
  color: #F11B1B !important;
}

.status-abs .name {
  color: #FFCD27 !important;
}

.page-panel-voting .box-bodyy .box-left .item .parlamentarian-info .name {
  display: flex;
  align-items: center;
  gap: .4rem;

  font-family: "Roboto";

  font-weight: 600;
  font-size: 2.5rem;

  text-transform: uppercase;
  color: var(--voting-panel-parlamentarian-name-text-color);

  p {
    margin: 0;
  }
  
  img {
    height: 2.5rem;
    width: auto;
  }
}

.name-big {
  font-size: 3.5rem !important;
}

.page-panel-voting .box-bodyy .box-left .item .parlamentarian-info .political-party {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 3rem;
  color: var(--voting-panel-parlamentarian-political-party-text-color);
}

.page-panel-voting .box-bodyy .box-left .item .role {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 3rem;
  color: var(--voting-panel-parlamentarian-role-text-color);
  align-self: center;
  text-transform: uppercase;
  text-align: center;

  font-style: normal;
  letter-spacing: 0.08rem;
}

.label-presence {
  color: var(--app-vote-panel-label-color-presence) !important;
}

/* BOX LEFT */

/* BOX RIGHT */
.box-right {
  display: flex;
  flex-direction: column;
}


.box-right-in {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.page-panel-voting .box-bodyy .box-right .box-right-in .expedient {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 11rem;
  text-transform: uppercase;
  color: var(--app-box-right-expedient-color);

  display: flex;
  align-self: center;
  text-align: center;
  margin: auto;
}

.page-panel-voting .box-bodyy .box-right .box-right-in .info {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
}

.page-panel-voting .box-bodyy .box-right .box-right-in .info .title {
  font-family: "Roboto";
  color: var(--voting-panel-right-info-title-color);

  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.13125rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-style: normal;
  text-align: justify;

  margin: 2rem;
}

.page-panel-voting .box-bodyy .box-right .box-right-in .info .author {
  font-family: "Roboto";
  color: var(--voting-panel-right-info-title-color);

  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.13125rem;
  font-size: 3rem;
  font-style: normal;

  margin: 2rem;
}

.page-panel-voting .box-bodyy .box-right .box-right-in .info .subtitle {
  font-family: "Roboto";
  color: var(--voting-panel-right-subtitle-color);
  font-size: 2.75rem;

  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2rem;
  text-align: justify;

  font-style: normal;
  font-weight: 300;
  line-height: 3.75rem;
  letter-spacing: 0.1125rem;
}

/* BOX RIGHT */

.page-panel-voting .footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.box-total-presentes,
.box-total-parlamentar {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  flex-direction: row;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 100%;
}


.page-panel-voting .footer .box-total-parlamentar .description {
  display: flex;
  align-items: center;

  font-family: "Roboto";

  font-weight: bold;
  font-size: 6rem;
  text-transform: uppercase;


  color: var(--voting-panel-total-parlamentar-text-color);
  margin-top: 1rem;
  text-align: center;
}

.page-panel-voting .footer .box-total-parlamentar .quantity {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 6rem;
  color: var(--voting-panel-total-parlamentar-text-color);
}

.page-panel-voting .footer .box-total-presentes .description {
  display: flex;
  align-items: center;

  font-family: "Roboto";

  font-weight: bold;
  font-size: 6rem;
  text-transform: uppercase;


  color: var(--voting-panel-total-parlamentar-text-color);
  margin-top: 1rem;
  text-align: center;
}

.page-panel-voting .footer .box-total-presentes .quantity {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 6rem;
  color: var(--voting-panel-total-parlamentar-text-color);
}

.box-yes .quantity,
.box-no .quantity,
.box-abs .quantity {
  display: flex;
  flex: 1;
  justify-content: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 6rem;
  color: var(--voting-panel-box-result-quantity-text-color);
}

.box-yes .description,
.box-no .description {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--voting-panel-box-result-text-color);
  text-align: center;
}

.box-abs .description {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--voting-panel-box-result-text-color);
  /* margin-top: 1rem; */
  text-align: center;
}


.page-panel-voting .footer .yes-no-abs {
  display: flex;
  flex-direction: row;
}

.page-panel-voting .footer .yes-no-abs .box-yes,
.page-panel-voting .footer .yes-no-abs .box-no,
.page-panel-voting .footer .yes-no-abs .box-abs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  justify-content: space-between;
}

.page-panel-voting .footer .yes-no-abs .box-yes,
.page-panel-voting .footer .yes-no-abs .box-no {
  margin-right: 10px;
}

.status-result-yes {
  background-color: #5DF06E;
  border-radius: 10px;
}

.status-result-no {
  background-color: #F11B1B;
  border-radius: 10px;
}

.status-result-abs {
  background-color: #FFCD27;
  border-radius: 10px;
}

.status-total {
  background-color: var(--app-status-total);
}

.page-panel-voting .footer .box-result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 6rem;
  color: var(--app-result-color);
  text-transform: uppercase;
  height: 60px;
}

.box-result-no-result {
  display: none;
}

.footer-bar {
  content: "";
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 33px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--app-primary-color);
}

.footer-bar img {
  width: 33px;
  margin-left: 16px;
}

:host ::ng-deep button.p-element.p-button-raised.p-button-rounded.p-button.p-component.p-button-icon-only {
  width: 4rem;
  height: 4rem;
  margin: 0px;
  color: var(--voting-panel-bt-fullscreen-color);
  background-color: var(--voting-panel-bt-fullscreen-background-color);
  border: none;
  cursor: pointer;
}

:host ::ng-deep button.p-element.p-button-raised.p-button-rounded.p-button.p-component.p-button-icon-only:focus {
   box-shadow: none;
}


/* LOADING */

.loading {
  width: 100vw;
  height: 100vh;
  background-color: var(--voting-panel-loading-bg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loading img {
  max-height: 600px;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 600px;
    height: 600px;
    opacity: 0;
  }
}

/* LOADING */
