<div class="loading" *ngIf="loading">
  <img src="../../assets/images/logo_rsv.png"/>
</div>
<div *ngIf='!loading' class='page-panel-voting'>
  <app-voting-panel-header sessionName="{{this.session.name}}"></app-voting-panel-header>
  <div class="box-body">
    <div class="box-left">
      <div class="item box-shadow border-raius" [ngClass]="{'status-presence':(item.result=='NULL')
            && item.status == 'PRESENCE',
          'status-no-presence':item.status != 'PRESENCE',
          'status-yes':item.result=='YES' && visibilityVotingType != 'SECRETA',
          'status-no':item.result=='NO' && visibilityVotingType != 'SECRETA',
          'status-abs':item.result=='ABSTENTION' && visibilityVotingType != 'SECRETA'}"
        *ngFor="let item of parlamentaresTownhall">
        <div class="picture" style="--bg-image: url({{item.parlamentar.urlImage}});">
        </div>
        <div class="parlamentarian-info">
          <div class="political-party">
            {{item.parlamentar.politicalParty}} |
            <span class="role" *ngIf="item.role!=null">
              {{item.role}}
            </span>
          </div>
          <div class="name">{{item.parlamentar.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="box-right">
      <div class='box-right-in box-shadow'>
        <div class="expedient" *ngIf="!existsOpenVoting">
          {{expedientType=='Expedientes diversos' ? otherExpedient : expedientType}}
        </div>
        <div class="info" *ngIf="existsOpenVoting">
          <div class="title">
            {{votingTitle}}
          </div>
          <div class="subtitle">
            {{votingSubTitle.slice(0, 350)}}
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="yes-no-abs">
          <div class="box-yes box-shadow status-result-yes">
            <div class="quantity">
              {{padWithLeadingZeros(yesCounter, 2)}}
            </div>
            <span class="description">
              Sim
            </span>
          </div>
          <div class="box-no box-shadow status-result-no">
            <div class="quantity">
              {{padWithLeadingZeros(noCounter, 2)}}
            </div>
            <span class="description">
              Não
            </span>
          </div>
          <div class="box-abs box-shadow status-result-abs">
            <div class="quantity">
              {{padWithLeadingZeros(absCounter, 2)}}
            </div>
            <span class="description">
              Abst
            </span>
          </div>
        </div>
        <div class="box-total-parlamentar box-shadow">
          <div class="quantity">
            {{padWithLeadingZeros(parlamentaresTownhall.length, 2)}}
          </div>
          <span class="description">
            Parlamentares
          </span>
        </div>
        <div class="box-total-presentes box-shadow">
          <div class="quantity">
            {{padWithLeadingZeros(presentCounter,2)}}
          </div>
          <span class="description">
            Presentes
          </span>
        </div>
        <div class="box-result" [ngClass]="{'status-yes':resultType=='APROVADA', 'status-no':resultType=='REPROVADA'}">
          {{resultType}}
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="fullScreen()" pButton icon="pi pi-arrows-alt"
  class="p-button-raised p-button-rounded box-shadow"></button>
