.container{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    float: left;
    overflow: hidden;
}

.p-session{
    font-size: 20px;
    display: inline;
    font-weight: bold;
}

.p-session-role-info{
    display: inline;
}

.p-bolder{
    font-weight: bolder;
    font-size: 18px;
}

.p-info{
    margin-left: 15px;
    font-size: 18px;
}

.open-session-button{
    margin-left: 20px;
}

#open-voting-button{
    float: right;
    margin-top: -10px;
    margin-right: 10px !important;
}

#update-presence-list{
    float: right;
    margin-top: -10px;
    margin-right: 0px !important;
}

.subject-disable{
    background-color: #e2dcdc;
}

:host ::ng-deep .p-dropdown {
    width: 20rem;
}

:host ::ng-deep .p-card-body{
    height: 75%;
    background-color: whitesmoke;
}


:host ::ng-deep .aux .p-card-body{
    background-color: bisque;
}
