/* BOX LEFT */
.parliamentarian {
  display: flex;
  align-items: flex-end;

  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-color: white;

  width: 430px;
  border-radius: 25px;
  border: 11px solid #FFFFFF;
  height: 430px;
}

.parliamentarian-info-all{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 17px;
  max-height: 65px;
}

.parlamentarian-info-personal{
  background: #005F84;
    padding: 7px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    border-radius: 10px;
}

.parlamentarian-name {
  max-width: 160px;
  flex-shrink: 1;
}

.parlamentarian-office {
  white-space: nowrap;
  flex-shrink: 0;
  margin-left: 4px;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.parlamentarian-electoral-party{
  background: #005F84;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
}