<p-toast></p-toast>
<p-tabView>
    <p-tabPanel header="Matérias">
        <div class="container">
            <div class="grid" style="margin-bottom: -15px;">
                <div class="col">
                    <button style="margin-left:10px; float: right;" pButton pRipple type="submit" label="Atualizar" (click)="updateTownHall()" icon="pi pi-save" class="p-button-success"></button>
                </div>
            </div>
            <p-card header="" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                </ng-template>
                <p-table [value]="townhall.legislativeSubjectTypeList" styleClass="p-datatable-striped p-datatable-gridlines" responsiveLayout="scroll" [rowHover]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Cód. SAPL</th>
                            <th>Nome</th>
                            <th>Tipo de Votação</th>
                            <th>Tipo de Visibilidade</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-legislature>
                        <tr>
                
                            <td>{{legislature.saplId}}</td>
                            <td>{{legislature.title}}</td>
                            <td>
                                <p-dropdown [options]="eVotingTypeResultList" [(ngModel)]="legislature.resultType"  class="form-control"></p-dropdown>
                            </td>
                            <td>
                                <p-dropdown [options]="eVotingVisibilityTypeList" [(ngModel)]="legislature.visibilityType"  class="form-control"></p-dropdown>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="row" style="margin-top: 10px; text-align: center;">
                </div>
            </p-card>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Mesa">
        <div class="grid" style="margin-bottom: -15px;">
            <div class="col">
                <button style="margin-left:10px; float: right;" pButton pRipple type="submit" label="Atualizar" (click)="updateTownHall()" icon="pi pi-save" class="p-button-success"></button>
            </div>
        </div>
        <div class="container">
            <p-card header="" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                </ng-template>
                <p-table [value]="townhall.tableRoleList" styleClass="p-datatable-striped p-datatable-gridlines" responsiveLayout="scroll" [rowHover]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Cargo</th>
                            <th>Parlamentar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-tableRole>
                        <tr>
                            <td>{{tableRole.name}}</td>
                            <td>
                                <p-dropdown appendTo="body" [options]="townhall.userList" optionLabel="name" [(ngModel)]="tableRole.parlamentar"  class="form-control"></p-dropdown>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
    </p-tabPanel>
</p-tabView>

<!-- Loading dialog -->
<p-dialog header="Atualizando câmara" [(visible)]="loading" (onHide)="loading = false"  [style]="{width: '40vw'}" [modal]="true">
    <div>
        <p>Aguarde um momento...</p>
        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
</p-dialog>