<p-toast></p-toast>
<div class="container">
    <p-card header="" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
        </ng-template>
        
        <div class="grid" style="margin-bottom: -15px;">
            <div class="col">
                <h2 style="display: inline; text-align: center;">Câmaras Municipais</h2>
            </div>
            <div class="col">
                <button style="margin-left:10px; float: right;" pButton pRipple type="submit" label="Adicionar" (click)="openModal(null, false)" icon="pi pi-save" class="p-button-success"></button>
            </div>
        </div>
        <div style="margin-top: 20px; ">
            <p-table [value]="townHallList" styleClass="p-datatable-striped p-datatable-gridlines" responsiveLayout="scroll" [rowHover]="true"
            [paginator]="true" [rows]="10" [showCurrentPageReport]="true" *ngIf="showTable">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%;">Id</th>
                        <th style="width: 30%;">Nome</th>
                        <th style="width: 10%;">Cidade</th>
                        <th style="width: 25%;">Legislatura</th>
                        <th >Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-townHall>
                    <tr>
                        <td>{{townHall.id}}</td>
                        <td>{{townHall.name}}</td>
                        <td>{{townHall.city}}</td>
                        <td>{{townHall.legislature}}</td>
                        <td style="display: flex; justify-content: center;">
                            
                            <button pButton style="margin-left: 10px;" pRipple type="button" icon="pi pi-pencil" (click)="openModal(townHall, true)" label="Editar"class="p-button-outlined p-button-rounded"></button>
                            <button pButton style="margin-left: 10px;" pRipple type="button" icon="pi pi-times" (click)="onDelete(townHall.id)" label="Remover" class="p-button-outlined p-button-rounded p-button-danger"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>
</div>

<!-- Dialog -->
<p-dialog header="{{titleModal}}" [(visible)]="showDialog" (onHide)="clearInputs()"  [style]="{width: '40vw'}">
    <form #myForm [formGroup]="formTownHall" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <div class="col-2 closer">
                        <label >Nome *</label>
                    </div>
                    <div class="col-10 modal-div">
                        <input type="text" formControlName="name" class="form-control" required [ngClass]="submitted && form['name'].errors ? 'is-invalid ng-invalid ng-dirty': ''" pInputText>
                        <div *ngIf="submitted && form['name'].errors" class="invalid-feedback">
                        <small id="name-help" class="p-error block">Nome é um campo obrigatório</small>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 closer">
                        <label>Cidade *</label>
                    </div>
                    <div class="col-10 modal-div">
                        <input type="text" formControlName="city" class="form-control" required [ngClass]="submitted && form['city'].errors ? 'ng-invalid ng-dirty': ''" pInputText>
                        <div *ngIf="submitted && form['city'].errors" class="invalid-feedback">
                        <small id="city-help" class="p-error block">Cidade é um campo obrigatório</small>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 closer">
                        <label>Url da API *</label>
                    </div>
                    <div class="col-10 modal-div">
                        <input type="text"formControlName="apiURL" class="form-control" required [ngClass]="submitted && form['apiURL'].errors ? 'ng-invalid ng-dirty': ''" pInputText>
                        <div *ngIf="submitted && form['apiURL'].errors" class="invalid-feedback">
                        <small id="apiURL-help" class="p-error block">Url da API é um campo obrigatório</small>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 closer">
                        <label>Url da Imagem</label>
                    </div>
                    <div class="col-10 modal-div">
                        <input type="text" formControlName="urlImage" class="form-control" pInputText>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-10 closer">
                        <label>Legislatura</label>
                    </div>
                    <div class="col-10 modal-div">
                        <input type="text" formControlName="legislature" class="form-control" pInputText>    
                    </div>
                </div>
              </div>
              <div class="row" style="margin-top: 10px;">
                <button style="margin-left:10px;" pButton pRipple type="submit" label="{{labelBtConfirmModal}}" icon="pi pi-save" class="p-button-rounded p-button-success"></button>
                <button style="margin-left:10px;" pButton pRipple label="Cancelar" (click)="onCancelar()" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
              </div>
        </div>
      </form>
</p-dialog>