<p-toast></p-toast>
<div class="card">
    <div class="flex-1 card-container  indigo-container">
        <div class="flex flex-row card-in">
            <div class="logo">
              <img src="../../assets/images/logo_rsv.png"/>
            </div>
            <p-card header="Login" styleClass="center" class="form-in">
                <ng-template pTemplate="header">
                </ng-template>
                <hr>

                <!-- Div de Loading -->
                <div *ngIf="loading" class="loading-overlay">
                    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--app-primary-color)" animationDuration=".5s"></p-progressSpinner>
                </div>

                <form #myForm [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-fluid" style="padding: 30px 5px;">
                    <div class="p-field" style="margin-bottom: 30px;">
                        <label for="username" class="input-label">Usuário</label>
                        <input type="text" pInputText [(ngModel)]="username" id="float-input-login" formControlName="username" class="p-inputtext-lg p-d-block" />
                        <p-message severity="error" text="O campo login é obrigatório" *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].dirty"></p-message>
                    </div>
                
                    <div class="p-field" style="margin-bottom: 30px;">
                        <label for="password" class="input-label">Senha</label>
                        <input id="float-input-password" type="password" pPassword formControlName="password" class="p-inputtext-lg p-d-block" />
                    </div>
                
                    <button type="submit" pButton label="Login" class="p-button-lg"></button>
                </form>
            </p-card>
        </div>
    </div>
</div>

<!-- Loading dialog -->
<!-- <p-dialog header="Realizando login" [(visible)]="loading" (onHide)="loading = false"  [style]="{width: '40vw'}"  [modal]="true">
    <div>
        <p>Aguarde um momento...</p>
        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
</p-dialog> -->