<div class="loading" *ngIf="loading">
  <!-- <img src="../../assets/images/logo_rsv.png" /> -->
</div>

<div>
  <img src="../../../../assets/images/bandeira_brasil.png" alt="Bandeira do Brasil" class="bandeira-brasil">

  <div class="page-panel-voting" *ngIf="!loading && (countdownRunning || countdownAparteRunning)" style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 100px;">
    <div>
      <app-card-parlamentar
        *ngIf="countdownRunning && !countdownAparteRunning && parlamentaryData.urlImage"
        photo="{{parlamentaryData.urlImage}}"
        name="{{parlamentaryData.name}}"
        politicalParty="{{parlamentaryData.politicalParty}}">
      </app-card-parlamentar>

      <app-card-parlamentar
        *ngIf="countdownAparteRunning && parlamentaryAParteData.urlImage"
        photo="{{parlamentaryAParteData.urlImage}}"
        name="{{parlamentaryAParteData.name}}"
        politicalParty="{{parlamentaryAParteData.politicalParty}}">
      </app-card-parlamentar>
    </div>

    <div class="timers-container">
      <!-- Timer Principal -->
      <div *ngIf="countdownRunning && !countdownAparteRunning" class="card-time-container">
        <div class="card-time">
          <h2 class="expedient-title-time">
            {{expedientType == "Expedientes diversos" ? otherExpedient : expedientType}}
          </h2>
          <p class="time-countdown">{{ timeLeft }}</p>
        </div>
      </div>

      <!-- Timer do Aparte -->
      <div *ngIf="countdownAparteRunning" class="card-time-container" [class.aparte-only]="!countdownRunning">
        <div class="card-time-aparte">
          <p class="expedient-title-time">A parte</p>
          <p class="parlamentary-name-time-aparte">{{parlamentaryAParteData.name}} - {{parlamentaryAParteData.politicalParty}}</p>
          <p class="time-countdown">{{ timeAparteLeft }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-panel-voting" *ngIf="!loading && !countdownRunning && !countdownAparteRunning">
    <div class="voting-header-container" *ngIf="!existsOpenVoting && !showResultTemporarily">
      <div class="chamber-logo">
        <img class="chamber-logo-image" src="{{townHallUrlImage}}" alt="{{townHallName}}">
      </div>
      <div class="voting-title-container">
        <h1 class="voting-title">
          {{ townHallName }}
        </h1>
        <h1 class="voting-subtitle">
          {{ this.session.name }}
        </h1>
      </div>
    </div>

    <div class="status-container-wrapper" *ngIf="!existsOpenVoting && !showResultTemporarily">
      <div class="status-cards-container">
        <div class="status-card neutral">
          <span class="description">Total de Parlamentares</span>
          <p class="quantity">
            {{ parlamentaresTownhall.length }}
          </p>
        </div>

        <div class="status-card present">
          <span class="description">Presentes</span>
          <p class="quantity">
            {{ presentCounter }}
          </p>
        </div>

        <div class="status-card absent">
          <span class="description">Ausentes</span>
          <p class="quantity">
            {{ parlamentaresTownhall.length - presentCounter }}
          </p>
        </div>
      </div>
    </div>

    

    <div class="voting-container" *ngIf="existsOpenVoting || showResultTemporarily">
      <div class="voting-header">
        <h1 class="voting-title">{{ votingTitle }}</h1>
        <p class="voting-subtitle">{{ votingSubTitle.slice(0, 350) }}</p>
        <p class="voting-author">Autor(es): {{ votingAuthor }}</p>
      </div>

      <div class="voting-results">
        <div class="vote-card yes">
          <span class="label">SIM</span>
          <p class="quantity">{{ padWithLeadingZeros(yesCounter, 2) }}</p>
        </div>

        <div class="vote-card no">
          <span class="label">NÃO</span>
          <p class="quantity">{{ padWithLeadingZeros(noCounter, 2) }}</p>
        </div>

        <div class="vote-card abs">
          <span class="label">ABST</span>
          <p class="quantity">{{ padWithLeadingZeros(absCounter, 2) }}</p>
        </div>
      </div>

      <div class="voting-extra">
        <div class="extra-card">
          <span class="label">Presentes</span>
          <p class="quantity color-yes">{{ padWithLeadingZeros(presentCounter, 2) }}</p>
        </div>
        <div class="extra-card">
          <span class="label">Ausentes</span>
          <p class="quantity color-no">{{ padWithLeadingZeros(parlamentaresTownhall.length - presentCounter, 2) }}</p>
        </div>
        <div class="extra-card">
          <span class="label">Total Parlamentares</span>
          <p class="quantity">{{ padWithLeadingZeros(parlamentaresTownhall.length, 2) }}</p>
        </div>
      </div>

      <div *ngIf="resultType" class="voting-final">
        <span class="label">Resultado:</span>
        <span
          class="result"
          [ngClass]="{
            'color-yes': resultType == 'APROVADA',
            'color-no': resultType == 'REJEITADA'
          }"
        >
          {{ resultType }}
        </span>
      </div>
    </div>

    <!-- <div class="box-body" *ngIf="existsOpenVoting">
      <div class="column" [ngStyle]="{
        'justify-content': !existsOpenVoting ? 'center' : null
      }">
        <h2 class="expedient-title">
          {{
            expedientType == "Expedientes diversos" ? otherExpedient : expedientType
          }}
        </h2>
        <div class="expedient-item flex flex-column">
          <div class="box-total-presentes">
            <span class="description color-yes fw-bold"> Presentes </span>
            <p class="quantity color-yes fw-bold">
              {{ padWithLeadingZeros(presentCounter, 2) }}
            </p>
          </div>
          <div class="box-total-presentes box-total-ausentes">
            <span class="description color-no fw-bold"> Ausentes </span>
            <p class="quantity color-no fw-bold">
              {{ padWithLeadingZeros(parlamentaresTownhall.length - presentCounter, 2) }}
            </p>
          </div>

          <div class="box-total-parlamentar">
            <span class="description fw-bold color-neutral"> Parlamentares </span>
            <p class="quantity fw-bold color-neutral">
              {{ padWithLeadingZeros(parlamentaresTownhall.length, 2) }}
            </p>
          </div>
        </div>
        <div class="expedient-item">
          <ng-container *ngIf="existsOpenVoting">
            <div class="flex flex-column">
              <strong class="color-neutral project-title">
                {{ votingTitle }}
              </strong>
              <p class="color-neutral project-description">
                {{ votingSubTitle.slice(0, 350) }}
              </p>
              <strong class="color-neutral project-description fw-bold">
                Autor(es): {{ votingAuthor }}
              </strong>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="column" style="justify-content: center;"  >
        <div class="parlamentares-container expedient-item " >
          <div class="box-yes status-result-yes">
            <p class="quantity color-yes">
              {{ padWithLeadingZeros(yesCounter, 2) }}
            </p>
            <span class="description color-yes"> Sim </span>
          </div>
          <div class="box-no status-result-no">
            <p class="quantity color-no">
              {{ padWithLeadingZeros(noCounter, 2) }}
            </p>
            <span class="description color-no"> Não </span>
          </div>
          <div class="box-abs status-result-abs">
            <p class="quantity color-abs">
              {{ padWithLeadingZeros(absCounter, 2) }}
            </p>
            <span class="description color-abs"> Abst </span>
          </div>
        </div>
          <div *ngIf="resultType"  class="expedient-item flex flex-column " style="gap: 0;">
            <p class="color-neutral votation-title fw-bold text-end">Votação: </p>
            <p
              class="fw-bold votation-result"
              [ngClass]="{
                'color-yes': resultType == 'APROVADA',
                'color-no': resultType == 'REJEITADA'
              }"
            >
              {{ resultType }}
            </p>
        </div>
      </div>
    </div> -->

    <app-voting-footer></app-voting-footer>
  </div>

</div>
