/* You can add global styles to this file, and also import other style files */
.container-modal-left{
    width: 45%;
    height: 60%;
    margin-top: 20px;
    margin-left: 20px;
    background-color: lightsteelblue;
    float: left;
    overflow: hidden;
    text-align: center;
}

.container-modal-right{
    width: 45%;
    height: 60%;
    margin-top: 20px;
    margin-left: 20px;
    background-color: lightsteelblue;
    float: right;
    overflow: hidden;
    text-align: center;
}

.container-top{
    width: 100%;
    height: 150px;
    background-color: khaki;
    float: left;
    overflow: hidden;
    text-align: center;
}

.btn-timer-func > button{
    margin-left: 10px;
}
.time-modal{
    font-size: 225px !important;
    font-weight: bold !important;
}
 