<div class="grid row">    
    <!--<div class="col-1">
        
            <div class="box-header-legislature-photo">
                <img src="{{townHall.urlImage}}" style="width: 150px; height: 75px;">
            </div>
        
    </div>-->
    <div class="col-12">
        <div class="grid">
            <div class="col-6">
                <div class="box-header-info-title text-6xl" style="margin-left: 10px;">{{townHall.name}}</div>
            </div>
            <div class="col-6">
                
            </div>
            <div class="col-12">
                <div class="col-8">
                    <div class="box-header-info-subtitle" style="font-weight: bold;">{{townHall.legislature}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid" style="margin-top: 20px;">
    <div class="col">
        <div class="p-card-shadow bg-blue-100">            
            <div *ngIf="parlamentar?.urlImage != null;" style="justify-content: center; display: flex;">
                <img alt="Card" src="{{parlamentar.urlImage}}" style="width: 100%; height: 475px;">
            </div>
            <div style="text-align: center;" *ngIf="showAParteTime | async">
                <p style="margin-top: 245px;"></p>
            </div>
            <div style="display: flex; justify-content: flex-end;">
                <h3 style="margin-right: 10px; font-size: 1.5rem;">{{parlamentar.name}} - {{parlamentar.politicalParty}}</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <p-card header="{{timeDescription}}" styleClass="p-card-shadow bg-blue-100">
            <ng-template pTemplate="header">
                
            </ng-template>
            <div style="text-align: center;">
                <span class="time-modal">{{mainTextMinutes}}</span>
                <span class="time-modal">:</span>
                <span class="time-modal">{{mainTextSeconds}}</span>
            </div>
            <p style="margin-top: 110px;"></p>
            <div style="text-align: center;" *ngIf="showAParteTime | async">
                <hr>
                <p style="font-weight: bold; font-size: 1.5rem;">{{parlamentarAParte.name}} - {{parlamentarAParte.politicalParty}}</p>
                <span class="mini-time-modal">{{subTextMinutes}}</span>
                <span class="mini-time-modal">:</span>
                <span class="mini-time-modal">{{subTextSeconds}}</span>
            </div>
            <ng-template pTemplate="footer" >
                
            </ng-template>
            <p style="margin-top: 25px;"></p>
        </p-card>
    </div>
</div>