<div class="box-main">
  <app-header class="app-header" townHallName="{{townHall.name}}"></app-header>
  <div class='page-stopwatch'>
    <app-card-parlamentar class="box-left" photo="{{parlamentar.urlImage}}" name="{{parlamentar.name}}"
      politicalParty="{{parlamentar.politicalParty}}"></app-card-parlamentar>
    <div class='box-right'>
      <div class='header'>
        <div class="title">
          Discurso
        </div>
        <div class="subtitle">
          {{timeDescription}}
        </div>
      </div>
      <div class='stopwatch'>
        <div class='stopeatch-in'>
          {{subTextMinutes}}:{{subTextSeconds}}
        </div>
      </div>
      <div class="footer" *ngIf="showAParteTime">
        <div class="footer-info">
          <div class="footer-sub-name">
            {{parlamentarNameSubTimer}}
          </div>
          <div class='footer-electoral-party'>
            {{parlamentarAParte.politicalParty}}
          </div>
        </div>
        <div class="footer-time">
          {{subTextMinutes}} : {{subTextSeconds}}
        </div>
      </div>
    </div>
  </div>
  <button pButton icon="pi pi-arrows-alt" class="p-button-raised p-button-rounded"></button>
</div>
