<div class="box-main">
  <app-header class="app-header"></app-header>
  <div class='page-stopwatch'>
    <div class='box-left'>
      <div class='parliamentarian'
        style="background-image: url(https://sapl.beberibe.ce.leg.br/media/sapl/public/parlamentar/56/amarildo.jpg);">
        <div class='footer'>
          <div class='footer-name'>
            Alex da Vanúzia
          </div>
          <div class='footer-electoral-party'>
            PMDB
          </div>
        </div>
      </div>
    </div>
    <div class='box-right'>
      <div class='header'>
        PSDB
      </div>
      <div class='stopwatch'>
        <div class='stopeatch-in'>
          03:55
        </div>
      </div>
    </div>
  </div>
</div>
