.row {
    display: flex; 
  }

.btn-timer-func > button{
    margin-left: 10px;
}
.time{
    font-size: 120px !important;
    font-weight: bold !important;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: chocolate;
}