<div class="grid">
    <div class="col-8 ml-5">
        <div class="field-radiobutton">
            <p-radioButton name="expediente" value="Grande Expediente" [(ngModel)]="expediente" (onClick)="chooseExpediente(true)" inputId="expediente1"></p-radioButton>
            <label for="expediente1">Grande Expediente</label>
        </div>
        <div class="field-radiobutton">
            <p-radioButton name="expediente" value="Pequeno Expediente" [(ngModel)]="expediente" (onClick)="chooseExpediente(true)" inputId="expediente2"></p-radioButton>
            <label for="expediente2">Pequeno Expediente</label>
        </div>
        <div class="field-radiobutton">
            <p-radioButton name="expediente" value="Outro" [(ngModel)]="expediente" (onClick)="chooseExpediente(false)" inputId="expediente3"></p-radioButton>
            <label for="expediente3">Outro</label>
            <input class="ml-3" type="text" [disabled]="disableInput" pInputText />
            <p-dropdown class="ml-3" [options]="timers" [(ngModel)]="selectedTimer" placeholder="Tempo"></p-dropdown>
        </div>
    </div>
    <div class="col">4</div>
</div>
<app-town-hall-control (updateFlagTransmitir)="updateFlagTransmitir($event)"></app-town-hall-control>
<app-timer-control (openModalWithTime)="openModalWithTime($event)"  [timer]="selectedTimer" [flagTransmitir]="flagTransmitir"></app-timer-control>
