<form #myFormUpdatePassword [formGroup]="formUpdatePassword" (ngSubmit)="onSubmit()">
    <div class="row">
    <div class="form-group">
        <div class="row">
            <div class="col-2 closer">
                <label>Login</label>
            </div>
            <div class="col-10 modal-div">
                <input type="text" formControlName="username" class="form-control" pInputText>
            </div>
        </div>
        <div class="row">
            <div class="col-10 closer">
                <label>Senha*</label>
            </div>
            <div class="col-10 modal-div">
                <input type="password" formControlName="password" class="form-control" required [ngClass]="submitted && form['password'].errors ? 'ng-invalid ng-dirty': ''" pInputText>
                <div *ngIf="submitted && form['password'].errors" class="invalid-feedback">
                <small id="password-help" class="p-error block">Senha é um campo obrigatório</small>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 closer">
                <label>Repetir Senha*</label>
            </div>
            <div class="col-10 modal-div">
                <input type="password" formControlName="repPassword" class="form-control" required [ngClass]="submitted && form['repPassword'].errors ? 'ng-invalid ng-dirty': ''" pInputText>
                <div *ngIf="submitted && form['repPassword'].errors" class="invalid-feedback">
                <small id="repPassword-help" class="p-error block">Repetir a senha é um campo obrigatório</small>
            </div>
            </div>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <button style="margin-left:10px;" pButton pRipple type="submit" label="Atualizar senha" icon="pi pi-save" class="p-button-rounded p-button-success"></button>
        <button style="margin-left:10px;" pButton pRipple label="Cancelar" (click)="onCancel()" icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
      </div>
</div>
</form>