* {
  font-family: Roboto;
}

:host {
  display: block;
  position: relative;
}

.bandeira-brasil {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vw;
  width: 100vw;
  z-index: 1;
}

.page-panel-voting {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;
  background-color: #000b0ffa;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
  position: relative;
}


.page-panel-voting {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  padding: 0.5rem;
  background-color: #000B0F;
  flex-direction: column;
  overflow: hidden;
}

.voting-header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 23px;
  padding-bottom: 31px;
}

.voting-header-container .voting-title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}

.voting-header-container .voting-title-container .voting-title {
  padding-bottom: 1rem;
  font-size: 2.7rem;
  color: #fff;
  font-family: Roboto;
  text-align: center;
  font-weight: 700;
}

.voting-header-container .voting-title-container .voting-subtitle {
  font-size: 3rem;
  color: #fff;
  font-family: Roboto;
  text-align: center;
  font-weight: 700;
}

.chamber-logo {
  display: flex;
  position: absolute;
  left: 130px;
  height: 8%;
}

.status-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.status-neutral {
  background-color: transparent  !important;
}

.status-yes .name {
  color: #5DF06E !important;
}

.status-no .name {
  color: #F11B1B !important;
}

.status-abs .name {
  color: #FFCD27 !important;
}

.status-total {
  background-color: var(--app-status-total);
}

.status-no-presence {
  opacity: .3;
}

.status-abscense {
  background-color: gray;
}

.status-abscense2 {
  background-color: gray;
}

.page-panel-voting .box-body {
  display: flex;
  justify-content: center;
  grid-template-rows: 100%;
  height: 100%;
  margin-bottom: 50px;
  padding-right: 0.5rem;
  flex-grow: 1;
  margin-top: 26px;
}

/* BOX LEFT */
.page-panel-voting .box-body .box-left {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, minmax(0, 56rem));
  grid-auto-rows: min-content;
  justify-content: center;
}

.box-left-big {
  grid-auto-rows: min-content !important;
}

.page-panel-voting .box-body .box-left .item {
  height: 8rem;
  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-auto-flow: column;
  grid-template-columns: auto 85%;
  gap: 12px;
}

.item-maior-8 {
  height: 13.5rem !important;
}

.item-maior-11 {
  height: 11rem !important;
}

.item-maior-13 {
  height: 9.5rem !important;
}

.item-big {
  grid-template-columns: 26% 74% !important;
  height: 15.5rem !important;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}


.border-raius {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.page-panel-voting .box-body .box-left .item .picture {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
  background-image: var(--bg-image);
  background-size: cover;
  filter: none;
  margin-left: 1.5rem;

}

.picture-big {
  width: 10rem !important;
  height: 10rem !important;
}

.page-panel-voting .box-body .box-left .item .parlamentarian-info {
  flex-grow: 1;
}

.page-panel-voting .box-body .box-left .item .parlamentarian-info .name {
  display: flex;
  gap: .4rem;

  font-family: "Roboto";

  font-weight: 600;
  font-size: 2.5rem;

  text-transform: uppercase;
  color: var(--voting-panel-parlamentarian-name-text-color);
}

.name-big {
  font-size: 3.5rem !important;
}

.page-panel-voting .box-body .box-left .item .parlamentarian-info .political-party {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 2rem;
  color: var(--voting-panel-parlamentarian-political-party-text-color);
}

.page-panel-voting .box-body .box-left .item .role {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 2rem;
  color: var(--voting-panel-parlamentarian-role-text-color);
  align-self: center;
  text-transform: uppercase;
  text-align: center;

  font-style: normal;
  letter-spacing: 0.08rem;
}

.label-presence {
  color: var(--app-vote-panel-label-color-presence) !important;
}

.color-yes {
  color: #5DF06E;
}

.color-no {
  color: #F11B1B;
}

.color-abs {
  color: #FFCD27;
}

/* BOX RIGHT */
.box-right {
  display: flex;
  flex-direction: column;
}

.page-panel-voting .box-body .box-right .box-right-in .info .title {
  font-family: "Roboto";
  color: var(--voting-panel-right-info-title-color);

  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.13125rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-style: normal;
  text-align: justify;
  margin: 2rem;
}

/* BOX RIGHT */

.page-panel-voting .footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.box-total-presentes,
.box-total-parlamentar {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  flex-direction: row;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 100%;
  background-color: var(--voting-panel-bg);
}


.page-panel-voting .footer .box-total-parlamentar .description {
  display: flex;
  align-items: center;

  font-family: "Roboto";

  font-weight: bold;
  font-size: 6rem;
  text-transform: uppercase;


  color: var(--voting-panel-total-parlamentar-text-color);
  margin-top: 1rem;
  text-align: center;
}

.page-panel-voting .footer .box-total-parlamentar .quantity {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 6rem;
  color: var(--voting-panel-total-parlamentar-text-color);
}

.page-panel-voting .footer .box-total-presentes .description {
  display: flex;
  align-items: center;

  font-family: "Roboto";

  font-weight: bold;
  font-size: 6rem;
  text-transform: uppercase;


  color: var(--voting-panel-total-parlamentar-text-color);
  margin-top: 1rem;
  text-align: center;
}

.page-panel-voting .footer .box-total-presentes .quantity {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 6rem;
  color: var(--voting-panel-total-parlamentar-text-color);
}

.box-yes .quantity,
.box-no .quantity,
.box-abs .quantity {
  display: flex;
  flex: 1;
  justify-content: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 6rem;
  color: var(--voting-panel-box-result-quantity-text-color);
}

.box-yes .description,
.box-no .description {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--voting-panel-box-result-text-color);
  text-align: center;
}

.box-abs .description {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--voting-panel-box-result-text-color);
  /* margin-top: 1rem; */
  text-align: center;
}


.page-panel-voting .footer .yes-no-abs {
  display: flex;
  flex-direction: row;
}

.page-panel-voting .footer .yes-no-abs .box-yes,
.page-panel-voting .footer .yes-no-abs .box-no,
.page-panel-voting .footer .yes-no-abs .box-abs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  justify-content: space-between;
}

.page-panel-voting .footer .yes-no-abs .box-yes,
.page-panel-voting .footer .yes-no-abs .box-no {
  margin-right: 10px;
}

.status-result-yes {
  background-color: var(--app-vote-yes);
  border: 2.5px dashed var(--app-vote-yes);
}

.status-result-no {
  background-color: var(--app-vote-no);
  border: 2.5px dashed var(--app-vote-no);
}

.status-result-abs {
  background-color: var(--app-vote-abs);
  border: 2.5px dashed var(--app-vote-abs);
}

.status-total {
  background-color: var(--app-status-total);
}

.page-panel-voting .footer .box-result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 6rem;
  color: var(--app-result-color);
  text-transform: uppercase;
  height: 60px;
}

.box-result-no-result {
  display: none;
}



/* LOADING */

.loading {
  width: 100vw;
  height: 100vh;
  background-color: #6ac4e4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.loading img {
  max-height: 600px;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 600px;
    height: 600px;
    opacity: 0;
  }
}

/* LOADING */
