.box-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

.box-main .app-header {
  display: flex;
  width: 100vw;
}

.box-main .page-panel-voting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--app-background-color);
}

.status-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.status-yes {
  background-color: var(--app-vote-yes);
}

.status-no {
  background-color: var(--app-vote-no);
}

.status-abs {
  background-color: var(--app-vote-abs);
}

.status-total {
  background-color: var(--app-status-total);
}

.status-neutral {
  background-color: var(--app-vote-label-color);
}


.box-main .page-panel-voting .sub-header {
  width: 87%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--app-primary-color);

  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  margin: 25px;
}

.box-main .page-panel-voting .sub-header .sub-header-legislature-photo {
  display: flex;
  align-content: center;
  width: 100%;
  justify-content: center;
  flex: 1;
}

.box-main .page-panel-voting .sub-header .sub-header-legislature-photo img {
  max-width: 7.5rem;
}


.box-main .page-panel-voting .sub-header .sub-header-itens {
  width: 87%;

  display: flex;
  flex-wrap: wrap;

  background-color: var(--app-primary-color);

  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  margin: 25px 0;
}


.box-main .page-panel-voting .sub-header .sub-header-itens .sub-header-item .status-info .status {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-shrink: 0;

  margin: 2.5rem;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.box-main .page-panel-voting .sub-header .sub-header-item {
  width: calc(100%/3);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.box-main .page-panel-voting .sub-header .sub-header-itens .sub-header-item .identification {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-left: 2rem;
}

.box-main .page-panel-voting .sub-header .sub-header-itens .sub-header-item .identification .type {
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 2.63rem;
  color: var(--app-vote-panel-label-color);
  text-transform: uppercase;
}

.box-main .page-panel-voting .sub-header .sub-header-itens .sub-header-item .identification .last-name-political-party {
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: var(--app-vote-panel-label-color);
  text-transform: uppercase;
}


.box-main .page-panel-voting .box-body {
  // display: grid;
  // grid-template-columns: 40% 40%;
  // justify-content: space-evenly;
  // align-items: flex-start;
  // height: 100%
  display: flex;
  width: 87%;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
}

/* BOX LEFT */
.box-main .page-panel-voting .box-body .box-left {
  width: 100%;
  height: 100%;
  display: grid;

  background-color: var(--app-primary-color);

  grid-template-columns: auto auto;

  overflow-y: scroll;
  margin-right: 12.5px;
  padding-top:25px;
  padding-bottom:25px;

  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;

  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-main .page-panel-voting .box-body .box-left .item {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.box-main .page-panel-voting .box-body .box-left .item .status-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.box-main .page-panel-voting .box-body .box-left .item .status-info .status {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-shrink: 0;

  margin-left: 3rem;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.box-main .page-panel-voting .box-body .box-left .item .status-info .title {
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 2.3rem;
  color: var(--app-vote-panel-label-color);
  margin-left: 2rem;
}

/* BOX LEFT */


/* BOX RIGHT */

.box-main .page-panel-voting .box-body .box-right {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  margin-left: 12.5px;
  padding-top:25px;
  padding-bottom:25px;

  background-color: var(--app-primary-color);

  overflow-y: scroll;

  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;

  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-main .page-panel-voting .box-body .box-right .expedient {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  color: var(--app-box-right-title-color);
  display: flex;
  align-self: center;
  margin: auto;
}

.box-main .page-panel-voting .box-body .box-right .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--app-box-right-title-color);

  margin: 1.5rem;
  margin-bottom: 3rem;
}

.box-main .page-panel-voting .box-body .box-right .subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 2.5rem;
  color: var(--app-box-right-subtitle-color);

  margin: 1.5rem;
  margin-bottom: 3rem;
}

/* BOX RIGHT */

.box-main .page-panel-voting .footer {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 87%;
  margin-top: 20px;
  margin-bottom: 20px;

  background-color: var(--app-primary-color);

  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
}

.box-main .page-panel-voting .footer .box-votes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100vw;
}

.box-main .page-panel-voting .footer .box-votes div.quantity {

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;

  margin: 1.5rem;

  width: 8rem;
  height: 8rem;

  color: var(--app-vote-label-background-color);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.description {

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--app-vote-label-color);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}


.box-main .page-panel-voting .footer .box-votes .box-yes,
.box-no,
.box-abs,
.box-total {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.box-main .page-panel-voting .footer .box-result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 6rem;
  color: var(--app-result-color);
  text-transform: uppercase;

  -webkit-border-top-right-radius: 2rem;
  -webkit-border-bottom-right-radius: 2rem;
  -moz-border-radius-topright: 2rem;
  -moz-border-radius-bottomright: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.box-result-no-result {
  display: none;
}

:host ::ng-deep button.p-element.p-button-raised.p-button-rounded.p-button.p-component.p-button-icon-only {
  width: 4rem;
  height: 4rem;
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
  background-color: #171430;
  cursor: pointer;
}

.hr-rule {
  /* Caminho 935 */

position: absolute;
left: 54.93%;
right: 6.23%;
top: 74.71%;
bottom: 25.29%;

border: 1px solid #E8E9F2;

}
