<div class="box-main">
  <!-- <app-header class="app-header" townHallName="Câmara Municipal de Canindé"></app-header> -->
  <div class='page-panel-voting'>
    <div class="sub-header">
      <div class='sub-header-legislature-photo'>
        <img
          src="https://uploaddeimagens.com.br/images/004/285/223/full/municipio-beberibe-brasao-simb-brnece0201502206-removebg-preview.png?1672893176"
          alt="municipio-beberibe-brasao-simb-brnece0201502206-removebg-preview">
      </div>
      <div class="sub-header-itens">
        <div class="sub-header-item" *ngFor="let item of subHeaderItens">
          <div class="status-info">
            <div
              [ngClass]="{'status-yes':item.status=='YES', 'status-no':item.status=='NO', 'status-abs':item.status=='ABSTENTION'}"
              class="status"></div>
          </div>
          <div class="identification">
            <span class="type">{{item.title}}</span>
            <span class="last-name-political-party">{{item.lastName}}/{{item.politicalParty}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="box-left">
        <div class="item" *ngFor="let item of bodyItens">
          <div class="status-info">
            <div
              [ngClass]="{'status-yes':item.status=='YES', 'status-no':item.status=='NO', 'status-abs':item.status=='ABSTENTION'}"
              class="status"></div>
            <span class="title">{{item.lastName}}/{{item.politicalParty}}</span>
          </div>
        </div>
      </div>
      <div class='box-right'>
        <div class="title">
          Projeto de Lei Ordinário nº 82de 2022
        </div>
        <div class="subtitle">
          Dispõe sobre a estimativa da receita e fixação da despesa do Município de Aquiráz para o exercício financeiro de 2023
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="box-votes">
        <div class="box-yes">
          <div class="quantity status-yes">
            02
          </div>
          <span class="description">
            Sim
          </span>
        </div>
        <div class="box-no">
          <div class="quantity status-no">
            02
          </div>
          <span class="description">
            Não
          </span>
        </div>
        <div class="box-abs">
          <div class="quantity status-abs">
            02
          </div>
          <span class="description">
            Abst
          </span>
        </div>
        <div class="box-total">
          <div class="quantity status-total">
            14
          </div>
          <span class="description">
            Total
          </span>
        </div>
      </div>
      <div class="box-result" [ngClass]="{'status-yes':status=='YES', 'status-no':status=='NO'}"
      >
        Rejeitado
      </div>
    </div>
  </div>
  <button (click)="fullScreen()" pButton icon="pi pi-arrows-alt" class="p-button-raised p-button-rounded"></button>
</div>
