<div style="background-color: rgb(199 172 77); ">

    <div class="grid">
        <div id="header" class="col-12 height-15" >
            <h5>Camara Municipal</h5>
        </div>
        <div id="header" class="col-12 height-15">
            <p-card>
                Content
            </p-card>
        </div>
    </div>
    <div class="grid" style="margin-top: 10;">    
            <div class="col height-50" >
                <p-card id="left-side" styleClass="ngx-color">
                    Content
                </p-card>
            </div>
            <div class="col height-50" >
                <p-card id="right-side"> 
                    Content
                </p-card>
            </div>
    </div>
    
    <div id="footer" class="col-12 height-20">
    
    </div>

</div>