.page-panel-voting {
  display: grid;
  width: 100%;
  height: 100%;
  grid-auto-flow: row;
  align-items: center;

  background-color: var(--voting-panel-bg-color)
}

 .page-panel-voting .header {
  display: grid;

  height: 10rem;

  justify-content: center;
  align-items: center;
  margin: 3rem;

  font-family: "Roboto";

  font-weight: 900;
  font-size: 4.3rem;
  color: var(--voting-panel-text-color);

  background-color: var(--voting-panel-header-background-color);
}

.status-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.status-yes {
  background-color: var(--app-vote-yes);
}

.status-no {
  background-color: var(--app-vote-no);
}

.status-abs {
  background-color: var(--app-vote-abs);
}

.status-neutral {
  background-color: var(--app-vote-panel-label-bg-no-presence) !important;
}

.status-total {
  background-color: var(--app-status-total);
}

.status-abscense {
  background-color: gray;
}

.status-abscense2 {
  background-color: gray;
}

 .page-panel-voting .box-body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0 3rem;
}

/* BOX LEFT */
 .page-panel-voting .box-body .box-left {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1rem;

  margin-right: 12.5px;
}

 .page-panel-voting .box-body .box-left .item {
  height: 8.5rem;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 18% 64%;
}

 .page-panel-voting .box-body .box-left .item .picture {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 0 1rem;
  background-image: var(--bg-image);
  background-size: cover;
  filter: none;
}
 .page-panel-voting .box-body .box-left .item .picture-status-neutral {
  -webkit-filter: opacity(0.1);
	filter: opacity(0.1);
	filter: opacity(0.1); /* IE */
}


 .page-panel-voting .box-body .box-left .item .parlamentarian-info {
  flex-grow: 1;
}

 .page-panel-voting .box-body .box-left .item .parlamentarian-info .title {
  font-family: "Roboto";

  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--voting-panel-text-color);
}

 .page-panel-voting .box-body .box-left .item .parlamentarian-info .political-party {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 2.5rem;
  color: var(--voting-panel-text-color);
}

 .page-panel-voting .box-body .box-left .item .role {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--voting-panel-text-color);
  align-self: center;
  transform: rotate(-90deg);
  text-transform: uppercase;
  text-align: center;
}

.label-presence {
  color: var(--app-vote-panel-label-color-presence) !important;
}

.label-no-presence {
  color: var(--app-vote-panel-label-color-no-presence) !important;
}

/* BOX LEFT */


/* BOX RIGHT */

 .page-panel-voting .box-body .box-right {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  margin-left: 12.5px;
  background-color: var(--voting-panel-box-right-background-color);
}

 .page-panel-voting .box-body .box-right  .expedient {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 11rem;
  text-transform: uppercase;
  color: var(--app-box-right-title-color);

  display: flex;
  align-self: center;
  text-align: center;
  margin: auto;
}

 .page-panel-voting .box-body .box-right  .info {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
}

 .page-panel-voting .box-body .box-right  .info .title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--app-box-right-title-color);

  margin: 4rem;
}

 .page-panel-voting .box-body .box-right  .info .subtitle {
  font-family: "Roboto";

  font-size: 2.5rem;
  color: var(--app-box-right-subtitle-color);

  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;

  margin: 4rem;
}

/* BOX RIGHT */

 .page-panel-voting .footer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5% 5% 10% 10% 35% 35%;
  margin: 1.5rem 3rem;
  font-family: "Roboto";

  font-weight: 900;
  color: var(--voting-panel-text-color);

  background-color: var(--voting-panel-footer-background-color);
}

 .page-panel-voting .footer .quantity {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 5rem;
  margin-top: 1rem;
  color: var(--voting-panel-text-color);
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto";

  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;


  color: var(--voting-panel-text-color);
  margin-bottom: 1rem;
}


 .page-panel-voting .footer .box-yes,
.box-no,
.box-abs,
.box-total {
  display: flex;
  flex-direction: column;
}

 .page-panel-voting .footer .box-result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 900;
  font-size:4rem;
  color: var(--app-result-color);
  text-transform: uppercase;
}

.box-result-no-result {
  display: none;
}

:host ::ng-deep button.p-element.p-button-raised.p-button-rounded.p-button.p-component.p-button-icon-only {
  width: 4rem;
  height: 4rem;
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
  color: var(--voting-panel-bt-fullscreen-color);
  background-color: var(--voting-panel-bt-fullscreen-background-color);
  cursor: pointer;
}
