
<div class="container">
    <p-card header="Controle Parlamentar" [style]="{height: '1080px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <div *ngIf="selectedParlamentar.urlImage !== ''">
                <img alt="Card" src="{{selectedParlamentar.urlImage}}" style="width: 300px; height: 300px;">
            </div>
        </ng-template>
        <div style="margin-top: 20px;">
            <p-dropdown [options]="townhalls" [(ngModel)]="selectedTownhall" optionLabel="name" (onChange)="onTownHallChange()" filterBy="name" placeholder="Selecione uma câmara"></p-dropdown>
        </div>
        <div style="margin-top: 20px;">
            <p-dropdown [options]="parlamentarList" [(ngModel)]="selectedParlamentar" optionLabel="name" [disabled]="disableParlamentarDropdown" placeholder="Selecione um parlamentar"></p-dropdown>
        </div>
    </p-card>
    
</div>