.container{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    float: left;
    overflow: hidden;
}

:host ::ng-deep .p-dropdown {
    width: 20rem;
}

:host ::ng-deep .p-card-body{
    height: 75%;
    background-color: whitesmoke;
}