/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
}

:root {
  --app-primary-color: #171430;
  --app-background-color: #eeeeee;
  --app-header-text-color: #fff;
  --app-footer-text-color: #FFF;;
  --app-box-voting-background-color: #d9d9d9;
  --app-vote-yes: #7ED283;
  --app-vote-no: #eb606b;
  --app-vote-abs: #fbcb60;
  --app-a-parte-info-color: #FFBD41;
  --app-status-total: #c5c3bc;
  --app-vote-label-color: #ffffff;
  --app-voting-not-present: #ffffff;
  --app-voting-present: #fff;
  --app-vote-panel-label-color: #fff;
  --app-vote-panel-label-color-presence: #ffbd41;
  --app-vote-panel-label-bg-no-presence: #e4dcdc0f;
  --app-vote-panel-label-color-no-presence: #ffffff;
  --app-box-right-title-color: #fff;
  --app-box-right-subtitle-color: #fff;
  --app-result-color: #ffffff;
  --app-clock-color: #ffffff;

  --voting-panel-bg-color: #262626;
  --voting-panel-text-color: #ffffff;
  --voting-panel-header-background-color: #323232;
  --voting-panel-footer-background-color: #323232;
  --voting-panel-box-right-background-color: #fffffd;
  --voting-panel-bt-fullscreen-background-color: #3a3b38;
  --voting-panel-bt-fullscreen-color: #fffffd;
  --voting-panel-item-background-color: #323232;
  --voting-panel-right-title-color: #ffffff;
  --voting-panel-right-info-title-color: #3a3b38;
  --voting-panel-right-subtitle-color: #3a3b38;
  --app-box-right-expedient-color: #3a3b38;

}

/* You can add global styles to this file, and also import other style files */
.container-modal-left {
  width: 45%;
  height: 60%;
  margin-top: 20px;
  margin-left: 20px;
  background-color: lightsteelblue;
  float: left;
  overflow: hidden;
  text-align: center;
}

.container-modal-right {
  width: 45%;
  height: 60%;
  margin-top: 20px;
  margin-left: 20px;
  background-color: lightsteelblue;
  float: right;
  overflow: hidden;
  text-align: center;
}

.container-top {
  width: 100%;
  height: 150px;
  background-color: khaki;
  float: left;
  overflow: hidden;
  text-align: center;
}

.btn-timer-func > button {
  margin-left: 10px;
}

.time-modal {
  font-size: 150px !important;
  font-weight: bold !important;
}

.mini-time-modal {
  font-size: 40px !important;
  font-weight: bold !important;
}

.box-shadow {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.13));
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.13);
}
