<div class="grid">
    <div class="col">
        <p-card header="Controle de Expediente" styleClass="p-card-shadow">
            <div class="col-6 ml-6" style="margin-left: 1rem !important">
                <div class="field-radiobutton flex align-items-center ">
                    <p-radioButton name="expediente" value="Grande Expediente" [(ngModel)]="expediente" (onClick)="chooseExpediente(true)" inputId="expediente1"></p-radioButton>
                    <label for="expediente1">Grande Expediente</label>
                </div>
                <div class="field-radiobutton flex align-items-center ">
                    <p-radioButton name="expediente" value="Pequeno Expediente" [(ngModel)]="expediente" (onClick)="chooseExpediente(true)" inputId="expediente2"></p-radioButton>
                    <label for="expediente2">Pequeno Expediente</label>
                </div>
                <div class="field-radiobutton flex align-items-center">
                    <p-radioButton name="expediente" value="Outro" [(ngModel)]="expediente" (onClick)="chooseExpediente(false)" inputId="expediente3"></p-radioButton>
                    <label for="expediente3">Outro</label>
                    <input class="ml-3" type="text" [disabled]="disableInput" pInputText />
                    <p-dropdown class="ml-3" [options]="timers" [(ngModel)]="selectedTimer" (onChange)="onUpdateTime()" placeholder="Tempo"></p-dropdown>
                </div>
        </div>
        </p-card>
    </div>
</div>
<div class="grid">
    <div class="col">
        <app-town-hall-control (updateParlamentar)="onTransmitir($event)" (updateFlagTransmitir)="updateFlagTransmitir($event)"></app-town-hall-control>
    </div>
</div>
