.voting-container {
    position: relative;
    height: 60vh;
    display: flex;
    flex-flow: column wrap;
  }
  .voting-item {
    
    flex: 1 0 auto;
    align-items: center;
    display: inline-flex;
  }

  .no-padding-bot{
    padding-bottom: 0;
  }

  .custom-padding-all-sides{
    padding: 0 0.1rem;
  }

  .button-action{
    width: 100%;
  }